{% extends 'base.html.twig' %}

{% block title %}Ajout animal
{% endblock %}

{% block body %}

	<div class="container text-tertiary">
		<div class="row">
			{% include "espace_admin/_adminnav.html.twig" %}

			<main class="col-9 border border-secondary text-secondary p-2">
				<form method="post" action="{{ path('app_animaux_delete', {'id': animaux.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?');">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ animaux.id) }}">
					<button class="btn">Delete</button>
				</form>


			</main>
		</div>
	</div>


{% endblock %}
